services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    Manuxi\SuluArticleConfigurationBundle\Repository\ArticleConfigurationRepository:
        arguments:
            - '@doctrine'
        tags:
            - { name: 'doctrine.repository_service' }

    Manuxi\SuluArticleConfigurationBundle\Service\ArticleConfigurationResolver:
        public: true
        arguments:
            - '@Manuxi\SuluArticleConfigurationBundle\Repository\ArticleConfigurationRepository'

    Manuxi\SuluArticleConfigurationBundle\Twig\ArticleConfigurationExtension:
        arguments:
            - '@Manuxi\SuluArticleConfigurationBundle\Service\ArticleConfigurationResolver'
        tags:
            - { name: 'twig.extension' }

    Manuxi\SuluArticleConfigurationBundle\Controller\Admin\ArticleConfigurationController:
        public: true
        arguments:
            - '@Manuxi\SuluArticleConfigurationBundle\Repository\ArticleConfigurationRepository'
            - '@doctrine.orm.entity_manager'
            - '@sulu_article.article_repository'
            - '@Sulu\Content\Application\ContentAggregator\ContentAggregatorInterface'
            - '@fos_rest.view_handler'
        tags:
            - { name: 'sulu.context', context: 'admin' }

    Manuxi\SuluArticleConfigurationBundle\Admin\ArticleConfigurationAdmin:
        arguments:
            - '@sulu_admin.view_builder_factory'
            - '@sulu_admin.metadata_group_provider'
            - '@sulu_security.security_checker'
        tags:
            - { name: 'sulu.admin', priority: -10 }
            - { name: 'sulu.context', context: 'admin' }